.trade-item-row {
  border: 1px solid transparent; /* prevents layout shift */
  border-radius: 1px;
  padding: 4px 6px;
  transition: border-color 0.12s ease, background-color 0.12s ease;
}

.trade-item-row:hover {
  border-color: #c0ffff; /* Fallout amber */
  background-color: #021509ad;
}

/* Trade Menu: internal links require Ctrl */
.trade-menu-root a.internal-link {
  pointer-events: none;
  cursor: default;
  color: #c0ffff !important;
  font-weight: normal;
  font-size: 16px;  
}

/* Visual hint when Ctrl is held */
body.trade-menu-ctrl-held .trade-menu-root a.internal-link {
  pointer-events: auto;
  cursor: default;
  text-decoration-style: solid;
  opacity: 1;
}



.trade-menu-scroll {
  scrollbar-color: #c0ffff #80328600 !important;
  scrollbar-width: thin;
}