.trade-item-row {
  border: 1px solid transparent; /* prevents layout shift */
  border-radius: 1px;
  padding: 4px 6px;
  transition: border-color 0.12s ease, background-color 0.12s ease;
}

.trade-item-row:hover {
  border-color: #1AFF80; /* Fallout amber */
  background-color: #105d283c;
}

/* Trade Menu: internal links require Ctrl */
.trade-menu-root a.internal-link {
  pointer-events: none;
  cursor: default;
  color: #1AFF80 !important;
  font-weight: normal;
  font-size: 16px;  
}

/* Visual hint when Ctrl is held */
body.trade-menu-ctrl-held .trade-menu-root a.internal-link {
  pointer-events: auto;
  cursor: default;
  text-decoration-style: solid;
  opacity: 1;
}



.trade-menu-scroll {
  scrollbar-color: #1AFF80 #80328600 !important;
  scrollbar-width: thin;
}


/* Trade Menu: internal links require Ctrl */
.trade-menu-colored-root a.internal-link {
  pointer-events: none;
  cursor: default;
  color: #ffc200 !important;
  font-weight: normal;
  font-size: 16px;  
}

.trade-item-colored-row:hover {
  border: 1px solid #ffc200; /* Fallout amber */
  background-color: #ffc4000b;
}